<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="Svg" version="2.3.0" targetFramework="net461" />
</packages>